extends layout

include mixins/star-rating
include mixins/project-card

block headers
  link(rel='stylesheet', href='/stylesheets/home.css')

block content

  div.bio
    section.px-5.py-5.text-center
      //- h1 William Power
      h1.py-2 WILLIAM POWER
      div.text-start.py-4.px-5
        p Hi. This are words I would say to make a person think I'm cool. 
        p resume, linkedin?, research site?, github?

  div.container.projects.py-5
    div.row.justify-content-sm-center
      //- Single Card Template
      +project('Strums', 'Enumerating all of the basic 8th note struming patterns.', '/demos/strums', 'https://github.com', 'images/ex_traffic.png')

      +project('Emulator', 'Implementation of the \'Simple As Possible\' (SAP-1) architecture.', 'demos/emulator', 'https://github.com', 'images/ex_beebc.png')
 
    div.row.justify-content-sm-center
      +project('Traffic', 'Create roads and intersections, and fill your network with cars.', 'demos/traffic', 'https://github.com', 'images/ex_traffic.png')

      +project('Physics', 'Simple, interactive javascript physics simulation.', 'demos/physics', 'https://github.com', 'images/ex_physics.png')

  div.container.competencies.py-4.mb-4

    div.row.justify-content-sm-center.py-2
      +rating("python", 5, 5) 
      +rating("js", 5, 5)
    div.row.justify-content-sm-center.py-2
      +rating("html/css", 4, 5)
      +rating("java", 4, 5)
    div.row.justify-content-sm-center.py-2
      +rating("php", 3, 5)
      +rating("sql", 3, 5)
    div.row.justify-content-sm-center.py-2
      +rating("juggling", 4, 5)
      +rating("chess", 1, 5)

  div.footer.ma-4.py-5.text-center
    | (tm) me. 2021-2021? idk. 