extends layout

include mixins/star-rating
include mixins/project-card

block headers
  link(rel='stylesheet', href='/stylesheets/home.css')

block content

  .w-auto.bio
    .container
      .row.px-2.py-3.justify-content-sm-center
        //- h1 William Power
        .col.col-md-5
          h1.mb-4 WILLIAM POWER

          .text-start.mx-3.px-2
            .links.mb-4
              a(href='https://github.com/wpower12').btn.btn-outline-primary.shadow.mx-2
                include ../src/images/github.svg
              a(href='https://www.linkedin.com/in/wkp3engineer/').btn.btn-outline-primary.shadow.mx-2
                include ../src/images/linkedin.svg
              a(href='mailto:willpowe@gmail.com').btn.btn-outline-primary.shadow.mx-2
                include ../src/images/email.svg
              a(href='/docs/Resume_WilliamPower_2021_12_14.pdf').btn.btn-outline-primary.shadow.mx-2
                include ../src/images/resume.svg

            p.py-2 I'm a PhD Candidate who likes to make things! I enjoy researching and tinkering. Currently researching machine learning methods for extracting community structure from online social networks. I'm interested in ways to improve election forecasting and polling using data mined from such communities. I'm always on the lookout for opportunities to help others build and learn!

            p 
              | I work with
              a(href='https://dabi.temple.edu/') DABI
              | , Temple University's Data Analytics and Bioinformations group. I've also been lucky to work with the Temple AGI Team (
              a(href='https://cis.temple.edu/tagit/') TAGIT
              | ). 
            

        .col.col-md-5.headshot
          //- img(src='/images/lego_grad.png').rounded
          img(src='/images/enme.png').rounded

  .container.competencies.py-4
    .row.justify-content-sm-center
      +rating("python", 5, 5)
      +rating("sql", 5, 5)
    .row.justify-content-sm-center
      +rating("html/css", 4, 5)
      +rating("java", 4, 5)
    .row.justify-content-sm-center
      +rating("js", 4, 5)
      +rating("php", 3, 5)
    .row.justify-content-sm-center
      +rating("tutoring", 4, 5)
      +rating("juggling", 4, 5)
    .row.justify-content-sm-center
      +rating("ukelele", 3, 5)
      +rating("chess", 1, 5)

  .w-auto.projects
    .container.py-2
      .row.justify-content-sm-center
        .col.col-4.text-center
          h2.py-2 PROJECTS

      .row.justify-content-sm-center
        +project('COVID Geo', 
          'County-level spatio-temporal COVID dataset.', 
          "", 
          'https://github.com/wpower12/RedditCountyBias', 
          'images/network.png',
          'python')
        

        +project('Reddit Geo', 
          'Gathering US county-level online activity data from Reddit.', 
          "", 
          'https://github.com/wpower12/COVID-19-USSTN', 
          'images/reddit_nj.png',
          'python')


      .row.justify-content-sm-center
        +project('Strums', 
          'Enumerating all of the basic 8th note struming patterns.', 
          '/demos/strums', 
          'https://github.com/wpower12/powcraft/blob/master/src/js/strums.js', 
          'images/strums.png',
          'js')

        +project('Emulator', 
          'Implementation of the \'Simple As Possible\' (SAP-1) architecture.', 
          'demos/emulator', 
          'https://github.com/wpower12/jsBEEBC', 
          'images/icon_beebc.png',
          'js')

      .row.justify-content-sm-center
        +project('Traffic', 
          'Create roads and intersections, and fill your network with cars.', 
          'demos/traffic', 
          'https://github.com/wpower12/powcraft/tree/master/src/js/traffic', 
          'images/ex_traffic.png',
          'js')

        +project('UnitGP', 
          'Genetic programming evolves the brain for a simple agent.', 
          "", 
          'https://github.com/wpower12/UnitGP', 
          'images/unitgp.png',
          'java')

      .row.justify-content-sm-center
        +project('Physics', 
          'Simple, interactive javascript physics simulation.', 
          'demos/physics', 
          'https://github.com/wpower12/powcraft/tree/master/src/js/forces', 
          'images/ex_physics.png',
          'js')

        +project('stss', 
          'Simple SEPTA train schedule.', 
          "", 
          'https://github.com/wpower12/ssts', 
          'images/ex_ssts.png',
          'rust')


  .footer.ma-4.py-5.text-center
    | (tm) me. 2021-2023. website source 
    a(href='https://github.com/wpower12/powcraft') here
    | .