doctype html
html
  head
    - var title = title || ""
    title #{title}
    meta(name="viewport", content="width=device-width", initial-scale="1")
    script(src="/javascripts/bs/bootstrap.bundle.min.js")
    
    block headers
  body
    block content