doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/home.css')
    script(src='/javascripts/bs/bootstrap.bundle.min.js')
    block headers

    body.font-monospace
      block content
