extends layout

block headers
	link(rel='stylesheet', href='/stylesheets/main.css')

block content

	main.container(role='main')
		div.container#canvas-container


	script(src='/javascripts/miniclient.bundle.js')
