extends layout

block headers
	link(rel='stylesheet', href='/stylesheets/traffic.css')
	script(src="https://code.jquery.com/jquery-3.2.1.min.js")

block content

	.container
		.row.text-center.justify-content-sm-center
			.col
				canvas#trafficcanvas(width=550, height=400).shadow.my-3

		form.row.justify-content-sm-center.align-items-center
			.col.col-6.btn-toolbar.shadow.btn-group.py-3
				input(type='radio', name='main-toolbar', id='btn-car', checked).btn-check
				label(for='btn-car').btn.btn-primary Car

				input(type='radio', name='main-toolbar', id='btn-road').btn-check
				label(for='btn-road').btn.btn-primary Road

				input(type='radio', name='main-toolbar', id='btn-inter').btn-check
				label(for='btn-inter').btn.btn-primary Intersection

				input(type='radio', name='main-toolbar', id='btn-sim').btn-check
				label(for='btn-sim').btn.btn-primary Sim

		form.row.justify-content-center#car-toolbar
			.col.col-6.btn-toolbar.btn-group.py-3
				label(for='car-in-speed').form-label.px-3 Speed
				input(type='number', min=1, max=10, value=5, size=4, id='car-in-speed').form-control-sm
				label(for='car-in-color').form-label.px-3 Color
				input(type='number', min=1, max=10, value=1, size=4, id='car-in-color').form-control-sm

		form.row.justify-content-center#road-toolbar.hidden
			.col.col-6.btn-toolbar.btn-group.py-3
				label(for='road-in-lanes').form-label.px-2 Lanes
				input(type='number', min=1, max=4, value=2, size=4, id='road-in-lanes').form-control-sm
				label(for='road-in-orient').form-label.px-2 Orientation
				input(type='number', min=0, max=3, value=0, size=4, id='road-in-orient').form-control-sm
				label(for='road-in-length').form-label.px-2 Length
				input(type='number', min=2, max=20, value=5, size=4, id='road-in-length').form-control-sm

		form.row.justify-content-center#inter-toolbar.hidden
			.col.col-6.btn-toolbar.btn-group.py-3
				label(for='inter-in-lanes').form-label.px-2 Lanes
				input(type='number', min=1, max=4, value=2, size=4, id='inter-in-lanes').form-control-sm

		//- Needs to handle Connecting, Deleting, Resetting, and Pausing. 
		form.row.justify-content-center#sim-toolbar.hidden
			.col.col-6.btn-toolbar.btn-group.py-3

				input(type='radio', name='sim-toolbar', id='btn-connect', checked).btn-check
				label(for='btn-connect').btn.btn-primary Connect

				input(type='radio', name='sim-toolbar', id='btn-delete').btn-check
				label(for='btn-delete').btn.btn-primary Delete


	script(src='/javascripts/traffic.bundle.js')