
block headers
	link(rel='stylesheet', href='/stylesheets/tribes.css')
	script(src="https://code.jquery.com/jquery-3.2.1.min.js")

block content

	.container.text-center
		canvas#tribescanvas(width="550", height="350")


	script(src='/javascripts/tribes.bundle.js')